{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="mt-3 border-bottom">
<h3>{{ post.title }}</h3>
{{ post.content|safe }}
</div>
<div class="mt-3">
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
</div>

{% for comment in comments %}
<div class="mt-3 border-bottom">
<h5>Author: {{ comment.author }}</h5>
<p>{{ comment.content }}</p>
<p class="text-muted text-right">{{ comment.created_on }}</p>
</div>
{% endfor %}

{% endblock %}